.MainDash_Products {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.Product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    margin: 0 3%;
}

.Product_Item {
    max-width: 240px;
    background: aqua;
    padding: 0 3px;
    margin: 5px 5px;
    border-radius: 10px;
}
