.MuiTableRow-root > * {
    padding: 10px;
}

.MuiTableRow-root.MuiTableRow-head > * {
    font-weight: bold !important;
}

.Table {
    padding-right: 20px;
}

.Table td,
th {
    border: none !important;
}

.Table:first-child {
    border-radius: 0.7rem !important;
}
.status {
    padding: 8px;
    border-radius: 9px;
}

.h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Details {
    color: #00b5ff !important;
}

@media screen and (max-width: 1200px) {
    .Table {
        width: 170%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Table {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }
}
