.Order {
    &__header {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &__left {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            &__orderId {
                padding: 0 5px;
            }
        }

        &__right {
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            &__status {
                padding: 0 5px;
            }

            &__review {
                padding: 0 5px;
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        &__left {
            &__info {
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.padding__between {
}
